.py[cod]
__pycache__/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.pdm-python

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
venv/


# OS / Editor
.DS_Store
.vscode/

# Jupyter
.ipynb_checkpoints/

# Streamlit
.streamlit/

# Large artifacts (optional, kalau nanti pakai LFS)
*.h5
*.keras

models/resnet50.h5

